<%= error_messages_for 'job' %>

<!--[form:job]-->
<p><label for="job_position">Position</label><br/>
<%= text_field 'job', 'position'  %></p>

<p><label for="job_description">Description</label><br/>
<%= text_area 'job', 'description'  %></p>
<!--[eoform:job]-->

