<fieldset>
  <div class="row">
    <!--[form:job]-->
<div class="form-element">
  <label for="job_position">Position</label>
  <%= text_field 'job', 'position' , {:class=>"text-input"} %>
</div>

<div class="form-element">
  <label for="job_description">Description</label>
  <%= text_area 'job', 'description'  %>
</div>

<!--[eoform:job]-->

  </div>
</fieldset>