<br/><br/><br/>
<%= render_component :controller => '/jobs', :action => 'component', :params => params %>
<br/><br/>
<div align="center">
<p>If you are interested in a position please contact us at 585.442.8790<p>
<p>Thank You</p>
      <img id="rich" src="/images/logo_otterlodge.jpg" width="120" height="125" alt="Otter Lodge" />
<br/><br/>
<%= link_to 'BACK', :controller => 'home', :action => 'list' %>
</div>