/* Styles for main page */

#banner {
  background: green;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 4px solid;
  font: small-caps 15px/15px "Helvetica", serif;
  color: #FFFF33;
  text-align: center;
  font-weight: bold;
}
#banner2 {
  background: green;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 4px solid;
  font: small-caps 20px/20px "Helvetica", serif;
  color: #FFFF33;
  text-align: center;
  font-weight: bold;
}

#main {
  margin-left: 2em;
  padding-left: 1em;
  padding-right: 1em;
  background: white;
  color: black;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 10em;
  border: 4px solid;
  width: 16em;
  color: yellow;
  background: green;
}

h2 {
  font:  150% Helvetica, sans-serif;
  color: #226;
}

#special-list .list-line-even {
background: #FFFFCC;
  font-weight: bold;
  font-size: 14px;
}
#special-list .list-line-odd {
background: #CCFFCC ;
  font-weight: bold;
  font-size: 14px;
}
