<%= link_to 'Home Page', :controller => 'home', :action => 'list' %>
<br/>
<div id="buttons" align="center">
    <script src="http://gmodules.com/ig/ifr?url=http://www.majigs.com/google-month.xml&synd=open&w=500&h=400&title=Personal+Calendar+and+Planner&border=%23ffffff%7C0px%2C1px+solid+%2399BB66%7C0px%2C2px+solid+%23AACC66%7C0px%2C2px+solid+%23BBDD66&output=js"></script>
    <br/>
    <br/>
    <br/>
    <%= button_to 'Specials', :controller => 'crudspecials', :action => 'list' %>
    <%= button_to 'Events', :controller => 'crudevents', :action => 'list' %>
</div>