
   <div id="email"> <%= mail_to("OtterLodge@rochester.rr.com", "EMAIL",
   :endocde => "javascript") %> <br/><br/>
   585.442.8790<br/> 
   1776 Monore Ave<br/>
   Rochester, NY 14618
   </div>
   
 
