 <div id="event-list" align="center">
    <table cellpadding="5" cellspacing="0">
        <% for event in @events %>
          <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
            <h4><td>
					  <% if !event.date.nil? -%>
            <%=h (event.date.dateonly) %>
						<% end %>
            </td></h4>
            <h4><td>
            <%= event.name %>
            </td></h4>
	      </tr>
        <% end %>
    </table>
  </div>
<br/>
<br/>
<br/>