 <div id="event-list" align="center">
    <table cellpadding="5" cellspacing="0" border="6" >
       <br/>
          <tr><b>
          <th>DATE</th>
          <th>EVENT</th></b>
          </tr>
          <% for event in @events %>
          <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
            <td><%=h (event.date.strftime("%m/%d/%Y")) %></td>
            <td><%= event.name %></td>
	      </tr>
         <% end %>
    </table>
  </div>
<br/>