<br/><br/>
<div id="friends-partial" align="center">
    <p><a href="http://www.skysands.com"><img src="/images/sky.jpg" width="150" height="70" /></a>
    <a href="http://www.ae-spa.com"><img src="/images/aespa1.jpg" width="90" height="70" /></a></p>
    <p><a href="http://www.molson.com/"><img src="/images/molson.jpg" width="110" height="70" /></a> <a href="http://www.stereoshoponline.com/"><img src="/images/stereo.jpg" width="150" height="70" /></a> <a href="http://www.custombrewcrafters.com/"><img src="/images/cblog.jpg" width="150" height="70" /></a></p>
    <a href="http://www.golfrochesterguide.net/"><img src="/images/golf.gif" width="190" height="80" /><br/><br/>
    <a href="http://www.victorhills.com/"><img src="/images/vic.jpg" width="265" height="105" />  

</div>
<br/><br/>