<br/><br/>
<div id="friends-partial" align="center">
    <a href="http://www.skysands.com">Sky Sands</a><br/>
    <p><a href="http://www.ae-spa.com"><img src="/images/aespa1.jpg" width="90" height="70" alt="Otter Lodge" /></a></p>

</div>
<br/><br/>