<p>Lunch</p>
<p>Dinner</p>
<div id="hooks2" style="display: none">      
    <p>Lottery</p>
    <p>Wi-Fi</p>
</div>
<div id="hooks3" style="display: none">      
    <p>ATM</p>
    <p>Take Out</p>
</div>
<div id="hooks4" style="display: none">      
    <p>Party Room</p>
    <p>Catering</p>
</div>