    <div id="menu-partial" align="center">
         <br/><br/>
         <a href="/docs/Menu.pdf" />MAIN MENU</a>
         <img src="/images/chef.jpg" width="100" height="175" alt="Otter Lodge" />
         <a href="/docs/banqMenu.pdf" />BANQUET MENU</a>
         <br/><br/><br/>
    </div>
