    <div id="menu-partial" align="center">
         <br/><br/>
         <a href="/docs/cover.pdf" />MAIN MENU</a>
         <img src="/images/chef.jpg" width="120" height="125" alt="Otter Lodge" />
         <a href="/docs/banquet Menu.pdf", "/doc/page 1.pdf" />BANQUET MENU</a>
         <br/><br/><br/>
    </div>
