    <div id="menu-partial" align="center">
     <br/>
     <div>
       <a href="/docs/scriptaculous_fx1.pdf" />MAIN MENU</a>
     </div>
     <br/>
     <div>
       <a href="/docs/scriptaculous_fx1.pdf" />BANQUET MENU</a>
     </div>

    </div>
  <br/>
  <br/>