    <div id="photos-partial" align="center">
        <a href="http://picasaweb.google.com/OtterLodge"><br/><br/>CLICK FOR MORE...</a></p>
        <p><a href="http://picasaweb.google.com/OtterLodge"><img src="/images/IMG_4808(2).JPG" width="195" height="265" alt="Otter Lodge" /></a>
   </div>
 <br/>