    <div id="photos-partial" align="center">
        <a href="http://picasaweb.google.com/OtterLodge"><br/><br/>CLICK FOR MORE...</a></p>
        <p><a href="http://picasaweb.google.com/OtterLodge"><img src="/images/otter3.jpg" width="195" height="165" alt="Otter Lodge" /></a>
   </div>
 <br/>