    <div id="photos-partial" align="center">
        <a href="http://picasaweb.google.com/richdownie/Keepers"><br/><br/>CLICK FOR MORE...</a></p>
        <p><a href="http://picasaweb.google.com/richdownie/Keepers"><img src="/images/rails1.jpg" width="195" height="265" alt="Otter Lodge" /></a>
   </div>
 <br/>