<%= error_messages_for 'special' %>

<!--[form:special]-->
<p><label for="special_sort">Sort</label><br/>
<%= text_field 'special', 'sort'  %></p>

<p><label for="special_name">Name</label><br/>
<%= text_field 'special', 'name'  %></p>

<p><label for="special_price">Price</label><br/>
<%= text_field 'special', 'price'  %></p>

<p><label for="special_description">Description</label><br/>
<%= text_field 'special', 'description'  %></p>
<!--[eoform:special]-->

