<% for column in Special.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @special.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @special %> |
<%= link_to 'Back', :action => 'list' %>
