<%= error_messages_for 'special' %>

<!--[form:special]-->
<p><label for="special_day">Day</label><br/>
<%= text_field 'special', 'day'  %></p>

<p><label for="special_lunch">Lunch</label><br/>
<%= text_field 'special', 'lunch'  %></p>

<p><label for="special_dinner">Dinner</label><br/>
<%= text_field 'special', 'dinner'  %></p>
<!--[eoform:special]-->

