
   <div id="email"> <br/>
   585.442.8790<br/> 
   1776 Monore Ave<br/>
   Rochester, NY 14618<br/>
   <%= mail_to("OtterLodge@rochester.rr.com", "OtterLodge@rochester.rr.com",
   :endocde => "javascript") %> 
   </div>
   