<%= error_messages_for 'team' %>

<!--[form:team]-->
<p><label for="team_name">Name</label><br/>
<%= text_field 'team', 'name'  %></p>

<p><label for="team_paid">Paid?</label><br/>
<select id="team_paid" name="team[paid]"><option value="false">Unpaid</option><option value="true">Paid</option></select></p>

<!--[eoform:team]-->

