<p><a href="http://picasaweb.google.com/richdownie/Keepers"><img src="/images/boys.jpg" width="227" height="140" alt="Otter Lodge" /></a>

<a href="http://picasaweb.google.com/richdownie/Keepers"><br/><br/>MORE...</a></p>