<p>585.442.8790<br/>
<%= mail_to("OtterLodge@rochester.rr.com", "OtterLodge@rochester.rr.com",
   :subject => "Have a question?",
   :endocde => "javascript") %></p>
<%= button_to "LOGIN", :controller => 'account', :action => 'login' %>

<div id="schedule" align="left">
<ul>
  <li>11/4 Russ 6 to Close</li>
  <li>11/4 Dan 6 to 10</li>
  <li>11/5 Mark 7 to Close</li>
  <li>11/5 Joe 6 to 10</li>
</ul>
</div>
 