<% for column in Suggestion.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @suggestion.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @suggestion %> |
<%= link_to 'Back', :action => 'list' %>
