<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" > 

<html>
<head>
  <title>OTTER LODGE</title>
  <%= stylesheet_link_tag "view", :media => "all" %>
  <%= javascript_include_tag :defaults %>
</head>
<body id="view">
    <div id="logo" align="center">
      <img src="/images/logo_otterlodge.jpg" width="125" height="150" alt="Otter Lodge" />
    </div>
    <div id="banner">   
       <h4>Slogan</h4><h6>1776 Monore Ave Rochester, NY 14618</h6>
    </div>
  

<div id="side">
   <img src="/images/otter1.jpg" width="250" height="175"  border="4" alt="Otter Lodge" />
       <div id="blurb" align="left"> 
        <p>There's a reason the slogan for this restaurant/pub is "Good Food, Good People, Good Times" since it offers all this and more. Let's start with the food. They have award winning wings, a great Southwestern Chicken sandwich
or wrap, terrific burgers, massive sandwiches and wonderful salads. And don't forget about the Otter Plate, a little bit of everything. They have 19 beers on tap to choose from, including Rochester Custom Brewcrafter's Wet Whiskers IPA.  The sports atmosphere is casual
but classic with warm oak accents throughout. And any sports bar is a 1000 times better if you can catch all your favorite sporting events on several HDTV plasma
screens!! Add wi fi, private party rooms and other extras and now is the perfect time to visit the Otter Lodge with friends or to meet new people.</p>
</div>           
   <img src="/images/otter2.jpg" width="250" height="175"  border="4" alt="Otter Lodge" />
    <br/>
   <div id="emp" align="center">
        <%= button_to "EMPLOYEES ONLY", :controller => 'account', :action => 'login' %>
   </div> 
           
    <div id="address" align="center">
    </div>
     </div>
      
      <div id="main">
          <%= @content_for_layout %>
      </div>
</body>
</html>
